.card {
    font-family: 'Roboto',sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--main);
}

.card:hover {
    box-shadow: 0 8px 16px 3px rgba(0,0,0,0.5);
}

.container {
    padding: 2px 16px;
    background-color: var(--main);
    color: var(--text-color);
    
}

.card h2 {
    font-size: 1.625em;
    margin-bottom: .688em;
}
.card p {
    font-weight: bold;
    opacity: 0.6;
}
.card-image {
    width:100%;
    margin-top: 30px;
}
.contact-info {
    text-align: left;
}

.avatar {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    vertical-align: center;
}
.social-icons{
    text-align: center;
    padding: 0px;
}

.social-icons li {
    display: inline;
    padding: 10px;
}

.card-bottom {
    background-color: var(--secondary);

}

.bottom-button{
    margin: 20px;
}