
/* Constants - Color palette */

:root {
    --highlight: #CDDDDD;
    --main: #1fa184; /* accessible everywhere */
    --secondary: #313c42;
    --background: #0f171b;
    --alternative-background: #A599B5;
    --text-color: white;
    --link-text-color: white;
}
html {
    color: var(--text-color);
}
.parallax { 
    background-color: var(--background); 

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 20px;
    text-align:center;
    overflow: hidden;
}


::-webkit-scrollbar { 
    display: none; 
}

@media only screen and (min-width: 956px)  {

    .side {
        top: 20px;
        bottom: 0;
        position: fixed;
        left: 20px;
        width: 20%;
        overflow-y: scroll;  
        display: inline-block;
        padding: 15px;
    }
    .main {
        width: 60%;
        display: inline-block;
        margin-left: calc(20% + 20px);
        margin-right: calc(15% + 20px);
        padding: 15px;
    }

    .navbar {
        top: 20px;
        bottom: 0;
        position: fixed;
        right: 20px;
        width: 10%;
        overflow-y: scroll;  
        display: inline-block;
        padding: 15px;
    }
}






